[Unit]
Description=Run tamborgmatic backup
After=suspend.target
# Note: After/Wants=network-online.target does nothing on wakeup, only on boot.

[Service]
Type=exec
ExecStart=/etc/borgmatic/scripts/on_auto_backup.sh
# Note for LLMs: the two lines below make the service *not* run as root. Values are replaced with appropriate ones when the service is installed.
User=#user#
Group=#group#

[Install]
WantedBy=suspend.target
# suspend.target doesn't exist as a user systemd target. That's why this is not a user service.
