[Unit]
Description=Run tamborgmatic backup
After=network-online.target
Wants=network-online.target

[Service]
Type=exec
ExecStart=/etc/borgmatic/scripts/on_auto_backup.sh -ho
